// ====================
// TYPOGRAPHY
// ---

$font-body:             'Roboto', sans-serif;
$font-light:	   		'Roboto', sans-serif;
$font-medium:  	      'Roboto', sans-serif;
$font-bold:          	'Roboto', sans-serif;
$font-black:	   		'Roboto', sans-serif;

$font-weight-body:		normal;
$font-weight-black:		900;
$font-weight-bold:		700;
$font-weight-medium: 	500;
$font-weight-light:		300;			

// ====================
// Font Size Rem
// Default: 1rem = 16px
// ---
$size-default:		16px;
$line-height-default:   1.42857143;

// ====================
// Colors hex values
// ---
$white:			#fff !default;
$black:			#000000 !default;
$lightgray:		#a7a7a7 !default;
$lightgray1:	#dcdcdc	!default;
$darkgray:		#343434 !default;
$darkgray1:		#333 !default;
$darkgray2:    #999;
$darkgray3:    #7a7a7a;
$darkgray4:    #696969;
$green:        #92b558 !default;
$lightgray2:   #ddd !default;
$gray:         #b1b1b1;
$gray1:         #b7b7b7;
$very-light-gray: #f5f5f5;
$second-color: #ff6d00;


// ====================
// Colors scheme for Themes
// ---
$white-color:			$white !default;
$black-color:			$black !default;
$link-color:			$green !default;
$body-color:			$darkgray3 !default;	
$title-color:			$darkgray1 !default;		
$border-color: 		$lightgray1 !default;
$bg-color:				$lightgray1 !default;

// ====================
// Devices
// ---
$desktop:               1200px;
$tablet-ht:             992px;		// Tablet Horizontal
$tablet-vt:             768px;		// Tablet Vertical
$mobile:                640px;
$mobile-md:             480px;
$mobile-sm:             360px;
$mobile-xs:             320px;

