/*------------------------------------------------------------------*/
/* Typography */

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}

body {
    color: $body-color;
    @include wp-font(font-body);
    @include sizeRem(font-size,14px);
    line-height: $line-height-default;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    color: $title-color;
    margin: 0;
    @include sizeRem(margin-bottom, 20px);
}
h1, h2, h3,
.h1, .h2, .h3{
    line-height: 1.4;
    @include wp-font(font-medium);
    color: $title-color;
}

h1, .h1{
    @include sizeRem(font-size, 22px);
}
h2, .h2{
    @include sizeRem(font-size, 22px);
}
h3, .h3{
    @include sizeRem(font-size, 18px);
}
h4, .h4{
    @include sizeRem(font-size, 16px);
}
h5, .h5{
    @include sizeRem(font-size, 16px);
}
h6, .h6{
    @include sizeRem(font-size, 16px);
}

a {
    @include transition(all 0.3s ease-out);
    color: $link-color;
    outline: none;
    &:hover, &:focus {
        color: darken($link-color, 8%);
        outline: none;
        text-decoration: none;
    }
}

strong {
    font-weight: $font-weight-bold;
}

ul, ol {
    @include sizeRem(margin-bottom, 15px);
}

p {
    @include sizeRem(margin-bottom, 15px);
}

address {}

label {}

img {
    max-width: 100%;
    height: auto;
}

button, input, optgroup, select, textarea {
    max-width: 100%;
}

iframe {
	max-width: 100%;
	border: none;
}

legend {
    padding-bottom: 5px;
}

fieldset {
    min-height: 30px;
}


ul.menu {
    list-style: none outside;
    margin-left: 1em;
    padding: 0;
    text-align: left;
}


@include skin-color(apricot, #EFA437);
@include skin-color(aqua1, #00ACCF);
@include skin-color(avocado, #55833B);
@include skin-color(beige1, #D4BE8D);
@include skin-color(black1, #333);
@include skin-color(blue1, #345AFF);
@include skin-color(blueberry, #25285F);
@include skin-color(blush-pink, #EFCCCE);
@include skin-color(cherry, #8F181C);
@include skin-color(red1, #DA2728);
@include skin-color(cream, #FCFAD1);
@include skin-color(coffee, #5A3C1E);

// ====================
// Icons
// ---

@include icons(ico-samsung, 80px, 80px);
@include icons(ico-apple, 60px, 60px);
@include icons(ico-asus, 80px, 80px);
@include icons(ico-nokia, 80px, 80px);
@include icons(ico-oppo, 80px, 80px);
@include icons(ico-sony, 80px, 80px);
@include icons(ico-xiaomi, 60px, 60px);

.icon-logo-brand{
    position: relative;
    font-size: 0;
        &:before{
            content:'';
            display: inline-block;
        }
}
li.samsung{
    a{
        @extend .icon-logo-brand;
        &:before{
            @extend .ico-samsung;
        }
    }
}

li.apple{
    a {
        @extend .icon-logo-brand;
        &:before{
            @extend .ico-apple;
        }
    }
}

li.sony{
    a{
        @extend .icon-logo-brand;
        &:before{
            @extend .ico-sony;
        }
    }
}
li.nokia{
    a{
        @extend .icon-logo-brand;
        &:before{
            @extend .ico-nokia;
        }
    }
}
li.asus{
    a{
        @extend .icon-logo-brand;
        &:before{
            @extend .ico-asus;
        }
    }
}
li.oppo{
    a{
        @extend .icon-logo-brand;
        &:before{
            @extend .ico-oppo;
        }
    }
}
li.xiaomi{
    a{
        @extend .icon-logo-brand;
        &:before{
            @extend .ico-xiaomi;
        }
    }
}


