// ====================
// View grid Drupal
// ---
.views-view-grid {
	.views-col {
		float: left;
		padding:{
			@include sizeRem(left, 15px);
			@include sizeRem(right, 15px);
		}
	}
	&.cols-1 .views-col {
		width: 100%;
	}
	&.cols-2 .views-col {
		width: 50%;
	}
	&.cols-3 .views-col {
		width: 33.33333333%;
	}
	&.cols-4 .views-col {
		width: 25%;
	}
	&.cols-5 .views-col {
		width: 20%;
	}
	.views-row {
		margin:{
			@include sizeRem(left, -15px);
			@include sizeRem(right, -15px);
		}
		@include clearfix;
		>* {
			@include sizeRem(margin-bottom, 30px);
		}
	}
}

// ====================
// View grid Custom
// ---
@include views-grid;


.container-fluid{
    padding: 0;
}

.container{
    padding:{
        @include sizeRem(top, 25px);
        @include sizeRem(bottom, 25px);
    }
}

// ====================
// Reset From
// ---
// Fixed Background input when complete 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

input,
select {
    @include form-default-input;
    outline: none;
    @include box-shadow(initial);
}

textarea {
    @include form-default-input;
}

.form-select {
    @include sizeRem(height, 45px);
    @include sizeRemAll(padding, 11px, 20px, 11px, 20px);
    line-height: 1.42857143;
    @include border-radius(0px);
    @include input-placeholder{
        color: $border-color;
    }
    border-color: transparent;
    width: 100%;
}

input[type="file"] {
    @include sizeRem(height, 45px);
    @include sizeRemAll(padding, 11px, 20px, 11px, 20px);
    line-height: 1.42857143;
}

.form-item,
.form-actions {
    margin:{
        @include sizeRem(top, 20px);
        @include sizeRem(bottom, 20px);
    }
}
.form-text,
.form-email{
	@include sizeRem(height, 38px);
}
.form-text,
.form-textarea,
.form-email {
    line-height: 1.42857143;
    width: 100%;
    @include input-placeholder{
        color: $border-color;
    }
    @include wp-font(font-medium);
    @include sizeRem(font-size, 20px);
    @include border-radius(0px);
	@include box-shadow(initial);
	@include sizeRem(font-size, 14px);
	@include sizeRemAll(padding, 9px, 15px, 9px, 15px);
	border-color: $border-color;
    &:focus {
        border-color: darken($border-color, 40%);
    }
}

.form-submit {
    @include btn;
}

.field-type-text,
.form-type-textfield {
    @include form-default-label;
}

.form-type-checkbox, .form-type-radio{
	@include sizeRem(margin-bottom, 10px);
	@include sizeRem(margin-top, 10px);
	position: relative;
	input[type=radio],
	input[type=checkbox] {
		@include opacity(0);
		position: absolute;
		&:checked + label {
			&:after{
				@include opacity(1);
				@include scale(1)
			}
		}
	}	
	label{
		@include sizeRem(margin-bottom, 0px);
		position: relative;
		cursor: pointer;
		&:before{
			content: '';
			display: inline-block;
			@include sizeRem(width, 14px);
			@include sizeRem(height, 14px);
			@include sizeRem(margin-right, 7px);
			@include sizeRem(top, 1px);
			border: 1px solid $border-color;
			position: relative;	
		}
		&:after{
			content:'\f00c';
			@include fontawesome;
			@include sizeRem(font-size, 14px);
			position: absolute;
			left: 2px;
			top: 1px;
			@include opacity(0);
			@include scale(0);
			@include transition(all .3s ease-in-out);
		}
	}
}

input[type=radio],
input[type=checkbox] {
    position: relative;
    @include sizeRem(top, -3px);
}

.form-control:focus {
    border-color:transparent;
    outline: 0;
	@include box-shadow(initial);
}


// ====================
// Reset Flex
// ---
.flexslider {
    border: 0 none;
}

// ====================
// Styling for Language dropdown
// ---
.ddsDefault {
	.dd-container {
		width: auto !important;
		@include sizeRem(min-width, 125px);
	}
	.dd-select {
		width: auto !important;
		border: 0 none;
		background: transparent !important;
		@include border-radius(0);
		label {
			margin: 0;
		}
	}
	.dd-option{
		@include display-flex;
		@include align-items(baseline);
	}
	.dd-selected {
		@include sizeRemAll(padding, 7px, 10px, 5px, 10px);
		position: relative;
		@include sizeRem(padding-left, 34px);
		color: $link-color;
		&:before {
			content: '';
			@include sizeRem(width, 14px);
			@include sizeRem(height, 14px);
			@include sizeRem(left, 10px);
			@include sizeRem(margin-top, -7px);
			position: absolute;
			top: 50%;
			background: url('../images/ico-globe.svg') no-repeat transparent;
			background-size: contain;
		}
		img {
			display: none;
		}
		&:hover,
		&:focus {
			color: darken($link-color, 8%);
		}
	}
	li {
		display: block !important;
		label {
			line-height: 1.4 !important;
			margin: 0;
		}
	}
	.dd-pointer-down {
		border-top-color: $link-color;
	}
	.dd-options {
		background: $bg-color;
		border: 1px solid $bg-color;
		@include box-shadow(0 1px 5px rgba($black-color, 0.6));
	}
	.dd-option {
		cursor: pointer;
	}
	.dd-option-selected {
		label {
			color: $link-color;
		}
	}
	.dd-pointer-up {
		border-bottom-color: $link-color !important;
	}
}

// ====================
// Reset Flex
// ---
.flexslider {
	margin-bottom: 0;
	&:hover,
	&:focus {
		.flex-direction-nav {
			.flex-prev,
			.flex-next {
				@include opacity(0.5);
				display: block;
			}
			.flex-prev {
				left: 0;
			}
			.flex-next {
				right: 0;
			}
		}
	}
	.flex-direction-nav a {
		display: block;
	}
}

.flex-direction-nav {
	@include container;
	position: absolute;
	top: 50%;
	@include translate(-50%,
	-50%);
	left: 50%;
	z-index: 5;
	a {
		@include sizeRem(width, 30px);
		@include sizeRem(height, 30px);
		margin-top: -15px;
		border-left: 3px solid $white-color;
		border-top: 3px solid $white-color;
		font-size: 0;
		@include opacity(0.5);
		display: block;
		&:before {
			display: none;
		}
		&:hover,
		&:focus {
			@include opacity(1);
		}
	}
	.flex-prev {
		@include rotate(-45deg);
		left: 0;
	}
	.flex-next {
		@include rotate(135deg);
		right: 0;
	}
}

.flex-control-nav {
	@include sizeRem(bottom, 30px);
	z-index: 6;
}

.flex-control-paging li {
	margin: {
		@include sizeRem(left, 5px);
		@include sizeRem(right, 5px);
	}
	a {
		@include sizeRem(width, 8px);
		@include sizeRem(height, 8px);
		background: $white-color;
		@include box-shadow(initial);
		&:hover,
		&:focus {
			background: $link-color;
		}
		&.flex-active {
			margin-left: 2px;
			margin-right: 2px;
			background: $link-color;
			@include box-shadow(0 0 0 2px $link-color);
		}
	}
}

// ====================
// Styling for Tabs
// ---
ul.primary {
	padding: 0;
	// margin: 0;
	@include display-flex;
	@include justify-content(center);
	border-bottom: 0;
	@include sizeRemAll(margin, 20px, 15px, 20px, 15px);
	>li {
		display: inline-block;
		padding:{
			@include sizeRem(left, 5px);
			@include sizeRem(right, 5px);
		}
		a {
			@include btn;
			text-align: center;
			margin: 0;
			&:hover,
			&:focus {
				border-color: $white-color;
				background-color: $white-color;
				color: $body-color;
			}
		}
		&.active a {
			border-color: $link-color;
			background-color: $link-color;
			color: $white-color;
		}
	}
}

.btn-btt {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    width: 30px;
    height: 30px;
    text-indent: 999em;
    background-color: #000;
    opacity: 0.5;
    color: $white;
    &:before {
        @include fontawesome;
        content: '\f106';
        text-indent: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 29px;
        color: #fff;
        text-align: center;
        font-size: 18px;
    }
    &:hover, &:focus {
        opacity: 1;
    }
}


.btn-btt{
    background-color: transparent;
    border: 2px solid $white-color;
    width: 35px;
    height: 35px;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    @include opacity(.2);
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include transition(opacity .3s ease-in-out);
    &:before{
        content:'';
        width: 8px;
        height: 8px;
        border-top: 2px solid $white-color;
        border-left: 2px solid $white-color;
        @include rotate(45deg);
        display: inline-block;
        margin-top: 4px;
		position: static;
    }
    &:hover, &:focus{
        @include opacity(1);
    }
}
