// ====================
// Footer
// ---
.block-copyright{
	@include sizeRem(margin-top, 40px);
	@include sizeRem(margin-bottom, 25px);
	text-align:center;
	p{
		margin-bottom: 0;
	}	
}

.block-form-newsletter{
	form{
		position: relative;
	}
	.form-item{
		@include sizeRem(margin-top, 15px);
		@include sizeRem(margin-bottom, 15px);
	}
	.form-text{
		font-style: italic;
		@include sizeRem(height, 38px);
		@include sizeRemAll(padding, 10px, 50px, 10px, 15px);
		line-height: 1;
		width: 100%;
		@include sizeRem(font-size, 13px);
		color: #bbbbbb;
		border-color: #bbbbbb;
		background-color: transparent;
		&:focus{
			border-color: #ccc;
		}
	}
	.form-action{
		@include sizeRem(height, 38px);
		@include sizeRem(width, 40px);
		margin: 0;
		position: absolute;
		right: 0;
		font-size: 0;
		bottom: 0;
		&:before{
			content: "";
			border-width: 6px 0 6px 6px;
			border-color: transparent transparent transparent #9a9595;
			border-style: solid;
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -1px;
			margin-top: -6px;
			top: 50%;
			position: relative;
			z-index: 1;
		}
		.form-submit{
			background: none;
			border-radius: 0;
			-webkit-border-radius: 0;
			border: none;
			height: 38px;
			transition: all 0s ease-in-out 0s;
			width: 40px;
			z-index: 2;
			padding: 0;
			font-size: 0;
			position: relative;
			z-index: 5;
		}
	}
	.field-desciption{
		color: #b1b1b1;
		font-size: 0.929em;
		font-style: italic;
	}
}
.footer {
	background-color: $title-color;
	@include sizeRem(font-size, 13px);
	color: #bbbbbb;
	.container {
		@include clearfix;
		@include sizeRem(padding-top, 50px);
		@include sizeRem(padding-bottom, 30px);
	}
	h4 {
		@include wp-font(font-bold);
		@include sizeRem(font-size, 14px);
		line-height: 1.2;
		margin-bottom: 20px;
		color: $white-color;
		text-transform: uppercase;
	}
	a{
		color: #bbbbbb;
		&:hover, &:focus{
			color: $link-color;
		}
	}
	ul.menu {
		margin: 0;
		@include sizeRem(font-size, 13px);
		li {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
			a{
				color: #bbbbbb;
				&:hover, &:focus{
					color: $link-color;
				}
			}
			&.active{
				a{
					color: $link-color;
				}
			}
		}
	}
}

// .footer-second{
// 	@include sizeRem(font-size, 13px);
// 	.container{
// 		@include sizeRem(padding-top, 30px);
// 		@include sizeRem(padding-bottom, 30px);
// 		position: relative;
// 		&:before{
// 			content:'';
// 			height: 1px;
// 			left: 15px;
// 			right: 15px;
// 			display:block;
// 			background-color: lighten($title-color, 5%);
// 			position: absolute;
// 			top: 0;
// 		}
// 	}
// 	p {
// 		margin-bottom: 0;
// 	}
// 	a {
// 		color: $body-color;
// 		&:hover, &:focus {
// 			color: $link-color;
// 		}
// 	}
	
// 	#block-contactmessage, .block-calls {
// 		text-align: right;
// 	}
// }

@media (max-width: 767px) {
	.footer-second {
		#block-contactmessage,
		.block-calls {
			text-align: center;
		}
	}
}
// /* footer */
// .block-simplenews {
// 	font-size: $fs-13;
// 	form {
// 		position: relative;
// 	}
// 	label, .description {
// 		display: none;
// 	}
// 	.form-email {
// 		font-style: italic;
// 	    height: 38px;
// 	    line-height: 1;
// 	    padding: 10px 50px 10px 15px;
// 	    width: 100%;
// 	}
// 	input{
// 		@include box-shadow(initial);
// 	}
// }

// body:not(.user-logged-in) {
// 	.block-simplenews {
// 		.form-actions {
// 			height: 38px;
// 			width: 40px;
// 			margin: 0;
// 			position: absolute;
// 			right: 0;
// 			font-size: 0;
// 			bottom: 0;
// 			&:before {
// 				content: "";
// 				border-width: 6px 0 6px 6px;
// 				border-color: transparent transparent transparent #9a9595;
// 				border-style: solid;
// 				display: block;
// 				position: absolute;
// 				left: 50%;
// 				margin-left: -1px;
// 				margin-top: -6px;
// 				top: 50%;
// 			}
// 			&:hover, &:focus {
// 				&:before {
// 					border-left-color: $link-color;
// 				}
// 			}
// 		}
// 		.form-submit {
// 			background: none;
// 			@include border-radius(0);
// 			border: none;
// 			height: 38px;
// 			transition: all 0s ease-in-out 0s;
// 			width: 40px;
// 			z-index: 2;
// 			padding: 0;
// 		}
// 	}
// }

// #block-newslettersmessage {
// 	p {
// 		color: $gray;
// 	    font-size: $fs-13;
// 	    font-style: italic;
// 	}
// }

// #block-downloadapps {
// 	margin-bottom: 40px;
// 	.content {
// 		ul {
// 			@include clearfix;
// 			padding: 0;
// 			margin: 0 -5px;
// 			li {
// 				display: inline-block;
// 				float: left;
// 				list-style: none;
// 				padding: 0 5px;
// 				margin-bottom: 5px;
// 				width: 50%;
// 			}
// 		}
// 	}
// }

// #block-paymentmethod {
// 	.content {
// 		ul {
// 			@include clearfix;
// 			padding: 0;
// 			margin: 0;
// 			li {
// 				display: inline-block;
// 				list-style: none;
// 				margin-right: 2px;
// 				margin-bottom: 5px;
// 			}
// 		}
// 	}
// }