// ====================
// Header
// ---
.header-group{
	// background-color: $yellow-color;
	position: fixed;
	background-color: $white-color;
	width: 100%;
	z-index: 999;
	& + *{
		padding-top: 120px;
	}
	ul{
		@include no-bullets;
		@include inline-block-list(10px);
		@include sizeRem(margin-left, -10px);
		@include sizeRem(margin-right, -10px);
	}
	@at-root{
		.headline {
			background: $very-light-gray;
			@include sizeRem(font-size, 13px);
			h2 {
				color: $darkgray4;
				cursor: pointer;
				font-size: 13px;
				margin-bottom: 0;
				&:after {
					@include fontawesome;
					content: '\f107';
					margin-left: 5px;
					// font-size: 16px;
					vertical-align: middle;
				}
				&:hover, &:focus {
					color: $link-color;
				}
			}
			.container {
				padding: {
					top: 10px;
					bottom: 10px;
				};
			}
			.block {
				float: right;
				margin-left: 20px;
			}
			.region-headline {
				@include clearfix;
			}
			
			ul.menu {
				@include clearfix;
				li {
					a {
						color: #696969;
						display: block;
						line-height: 1;
						padding-top: 2px;
						padding-bottom: 3px;
						text-transform: capitalize;
						&:hover, &:focus, &.is-active {
							color: $link-color;
						}
					}
				}
			}
		}
		.header{
			border-bottom: 1px solid $border-color;
			.container{
				padding-top:0;
				padding-bottom: 0;
				@include display-flex;	
				@include align-items(center);
				@include sizeRem(min-height, 80px);
				@include sizeRem(padding-top, 15px);
				@include sizeRem(padding-bottom, 15px);
				> *{
					@include display-flex;
				}
				> *:nth-child(1){
					@include flex-width-col-xs(20%);
				}
				> *:nth-child(2){
					@include flex-width-col-xs(60%);
					@include justify-content(center);
					// @include sizeRem(padding-left, 15px);
					// @include sizeRem(padding-right, 15px);
				}
				> *:nth-child(3){
					@include flex-width-col-xs(20%);
					@include justify-content(flex-end);
				}
			}
		}
	}
}

// Menu
@media (min-width: $tablet-ht){
	.block-main-menu{
		background: url('../images/bg/cate-bg.png') repeat-y right top white;
		margin-bottom: 20px;
		position: relative;
		h2{
			color: $link-color;
			@include sizeRem(font-size, 18px);
			@include wp-font(font-bold);
			margin-bottom: 5px;
			text-transform: uppercase;
		}
		ul{
			margin-left: 0;
		}
		.block-content{
			> ul.menu{
				> li{
					> a{
						border-bottom: 1px solid transparent;
						border-top: 1px solid transparent;
						color: black;
						display: block;
						line-height: 1;
						padding: 18px 0;
						position: relative;
						&:before{
							background: url('../images/bg/sprites.png');
							background-repeat: no-repeat;
							background-position: 0 -87px;
							bottom: -3px;
							content: "";
							height: 2px;
							left: 0;
							position: absolute;
							width: 100%;
						}
						&:after{
							@include fontawesome;
							content: "\f105";
							font-size: 20px;
							height: 12px;
							line-height: 50px;
							position: absolute;
							right: 25px;
							text-align: center;
							top: 0;
							width: 12px;
						}
					}
				}
			}
			.expanded{
				&:hover, &:focus{
					> ul{
						display: block;
					}
				}
				> ul{
					border-radius: 0 0 1px 1px;
					-webkit-border-radius: 0 0 1px 1px;
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					background: white;
					border-color: transparent gainsboro gainsboro transparent;
					border-style: none solid solid none;
					border-width: medium 1px 1px medium;
					display: none;
					// display: block;
					left: 100%;
					width: 571px;
					max-width: 590px;
					min-height: 528px;
					padding: 30px 25px;
					position: absolute;
					top: -30px;
					z-index: 20;
					&.box{
						> li{
							float:left;
							width: 25%;
							> a{
								@include display-flex;
								height: 120px;
								@include align-items(center);
								@include justify-content(center);
								position: relative;
								text-transform: uppercase;
								border: 1px solid $border-color;
								&:hover, &:focus{
									border-color: $link-color;
								}
							}
						}
					}

					&.box-skins{
						> li{
							float:left;
							width: 20%;
							> a{
								@include display-flex;
								height: 94px;
								font-size: 0;
								@include opacity(1);
								&:hover, &:focus{
									@include opacity(.7);
								}
							}
						}
					}
					> li{
						float: left; 
						width: 50%;
						padding: 5px;
						a{
							color: $body-color;
							&:hover, &:focus{
								color: $link-color;
							}
						}
					}
					
				}
			}
		}
	}

	// Not Front
	.section-breadcrumb .block-main-menu {
		float: left;
		background: none;
		margin-bottom: 0;
		h2 {
			@include wp-font(font-bold);
			@include sizeRem(font-size, 14px);
			@include sizeRemAll(padding, 15px, 20px, 15px, 40px);
			color: $darkgray4;
			cursor: pointer;
			line-height: 1;
			margin-bottom: 0;
			position: relative;
			text-transform: capitalize;
			&:before {
					content: "\f0ab";
					@include fontawesome;
					@include sizeRem(font-size, 18px);
					@include sizeRem(height, 18px);
					@include sizeRem(left, 15px);
					@include sizeRem(margin-right, 10px);
					@include sizeRem(top, 14px);
					@include sizeRem(width, 18px);
					position: absolute;
			}
			&:hover,
			&:focus {
					color: $link-color;
			}
		}
		&:hover {
			.block-content {
					display: block;
					@include opacity(1);
					visibility: visible;
			}
		}
		&:after {
			@include sizeRemAll(border-width, 23px, 0px, 23px, 12px);
			border-style: solid;
			border-color: transparent #ececec;
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			z-index: 2;
		}
		&:before {
			@include sizeRemAll(border-width, 23px, 0px, 23px, 12px);
			@include sizeRem(right, -1px);
			border-style: solid;
			border-color: transparent #cacaca;
			position: absolute;
			content: "";
			top: 0;
			z-index: 1;
		}
		.block-content {
			@include box-shadow(-3px -3px 14px #ededed);
			@include sizeRem(min-height, 500px);
			@include sizeRem(min-width, 280px);
			@include sizeRem(top, 46px);
			@include opacity(0);
			@include transition(all 0.3s ease-in);
			background: url("../images/bg/cate-bg.png") repeat-y right top #fff;
			border-left: 1px solid $border-color;
			left: 0;
			position: absolute;
			visibility: hidden;
			z-index: 100;
			> ul.menu {
				> li {
					list-style: none;
					> a {
						@include sizeRemAll(padding, 20px, 20px, 20px, 20px);
					}
					> ul {
						top: 0;
						@include sizeRem(min-height, 500px);
					}
				}
			}
		}
	}
}

