// ====================
// Block list
// ---
h2.title-page{
	@include sizeRem(font-size, 22px);
	@include sizeRem(padding-bottom, 10px);
	@include sizeRem(margin-bottom, 20px);
	@include wp-font(font-bold);
	text-transform: none;
	border-bottom: 1px solid $border-color;
}
.block{
	h2{
		text-transform: capitalize;
	}
	
	@at-root{
		.block-link-to-shop{
			text-align: center;
			> .block-content{
				background: $white-color;
				@include sizeRemAll(padding, 20px, 20px, 20px, 20px);
				@include sizeRem(min-width, 640px);
				@include box-shadow(0 0 20px 1px rgba($black-color,0.09));
			}
			.logo{
				display: inline-block;
				@include sizeRem(margin-top, 15px);
				@include sizeRem(margin-bottom, 15px);
				&.logo-wwsgo{
					@include sizeRem(margin-bottom, 30px);
					margin-top: 0;
				}
				&.logo-shop{
					@include sizeRem(max-width, 200px);
				}
			}
			.description{
				@include sizeRem(font-size, 16px);
			}
			center{
				@include sizeRem(margin-bottom, 15px);
			}
		}
		.block-map{
			.embed-responsive-16by9{
				padding-bottom: 66%;
			}
		}
		.block-contact-us{
			> .block-content{
				> *{
					@include sizeRem(margin-bottom, 30px);
				}
			}
			address{
				a{
					color: $body-color;
					&:hover, &:focus{
						color: $link-color;
					}
				}
			}
		}
		.block-404{
			text-align: center;
			margin-left: auto;
			margin-right:auto;
			min-height: 300px;
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);
			@include align-content(center);
			@include sizeRem(margin-bottom, 30px);
			h1{
				@include sizeRem(font-size, 200px);
				color: $link-color;
				line-height: 1;
			}
		}
		.block-login-socials{
			@include flex-width-col-xs(40%);
			@include align-self(center);
			.views-row{
				@include sizeRem(margin-bottom, 10px);
				a{
					display: inline-block;
					@include sizeRem(min-width, 150px);
					@include sizeRem(min-height, 40px);
					@include sizeRem(line-height, 40px);
					@include sizeRem(padding-left, 50px);
					@include sizeRem(padding-right, 10px);
					position: relative;
					border: 1px solid transparent;
					text-align: center;
				}
				.fa{
					@include sizeRem(width, 40px);
					@include sizeRem(height, 40px);
					@include sizeRem(line-height, 40px);
					@include sizeRem(font-size, 20px);
					margin: 0;
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 2;
					text-align: center;
					
				}
				.btn-login-facebook{
					color: #3b5998;
					border-color: #3b5998;
					.fa{
						background-color: #3b5998;
						color: $white-color;
					}
					&:hover, &:focus{
						background-color: #3b5998;
						color: $white-color;
					}
				}
				.btn-login-google{
					color: #ea4335;
					border-color: #ea4335;
					.fa{
						background-color: #ea4335;
						color: $white-color;
					}
					&:hover, &:focus{
						background-color: #ea4335;
						color: $white-color;
					}
				}
			}
		}
		.block-form-account{
			@include sizeRem(margin-bottom, 30px);
			.group-product-comment-list{
				max-width: 50%;
			}
			.group-product-comment form{
				max-width: 55%;
			}

			> h2{
				@include sizeRem(padding-bottom, 10px);
				@include sizeRem(margin-bottom, 20px);
				@include wp-font(font-bold);
				text-transform: none;
				border-bottom: 1px solid $border-color;
			}
			.descriptions{
				text-align: right;
				@include sizeRem(margin-top, -10px);
			}
			> .block-content{
				@include display-flex;
			}
			form{
				.required{
					color: red;
				}
				@include flex-width-col-xs(45%);
				@include sizeRem(padding-left, 140px);
				@include sizeRem(padding-right, 45px);
				@include sizeRem(margin-right, 45px);
				.form-item{
					position: relative;
					.form-item{
						label{
							position: static;
							text-align: left;
						}
					}
				}

				.form-item-email, .form-item-pwd, .form-item-label{
					// @include sizeRem(margin-left, -140px);
				}
				.form-item-reset{
					@include sizeRem(margin-top, -10px);
					@include sizeRem(margin-bottom, 10px);
				}
				label{
					max-width: inherit;
					@include sizeRem(min-width, 137px);
					text-align: right;
					@include sizeRem(padding-right, 10px);
					@include sizeRem(left, -140px);
					@include sizeRem(top, 9px);
					position: absolute;
					
				}
				
				.form-type-checkbox, .form-type-radio{
					display: inline-block;
				}
			}
		}
		.block-form-login{
			form{
				position: relative;
				border-right: 1px dotted $border-color;
				&:before{
					content:'OR';
					width: 26px;
					height: 26px;
					line-height: 26px;
					position: absolute;
					top: 50%;
					margin-top: -13px;
					right: -13px;
					text-align: center;
					font-size: 13px;

					background-color: $border-color;
					color: #808080;
					text-align: center;
					@include border-radius(50%);
				}
			}
		}
		.block-form-reset{
			.descriptions{
				text-align: left;
				@include sizeRem(margin-left, -120px);
			}
		}

		.group-product-comment-list{
			@include sizeRem(padding-top, 20px);
			.rating-stars{
				@include sizeRem(margin-bottom, 5px);
			}
			> .media{
				border-top: 1px solid $border-color;
    			@include sizeRem(padding-top, 15px); 
			}
			.media-left{
				img{
					max-width: inherit;
					width: 40px;
					height: 40px;
					display: block;
				}
			}
			.media-heading{
				label{
					@include wp-font(font-body);
					color: $link-color;
					@include sizeRem(font-size, 13px);
					text-transform: uppercase;
					@include sizeRem(margin-left, 10px);
				}
			}
			.media-footer{
				@include clearfix;
				.left{
					float: left;
					> *{
						display: inline-block;
						@include sizeRem(margin-right, 10px);
						color: #808080;
					}
				}
				.right{
					float:right;
					> *{
						@include sizeRem(margin-left, 10px);
					}
				}
			}
		}
		.block-comment-description{
			@include flex-width-col-xs(45%);
			@include sizeRem(padding-left, 35px);
			h4{
				@include sizeRem(margin-bottom, 5px);
			}
			ul{
				@include sizeRem(padding-left, 25px);
				
			}
		}
		.block-navbartabs{
			.group-product-comment-list{
				width: 55%;
			}
			.rating-stars{
				position: relative;
				display: inline-block;
				top: -1px;
				span{
					display: inline-block;
					width: 16px;
					height: 16px;
					background-color: #f1f1f1;
					margin-right: 5px;
					@include border-radius(50%);
					text-align: center;
					line-height: 13px;
					&:last-child{
						margin-right: 0;
					}
					&:before{
						content: "\f005";
						@include fontawesome;
						color: $white-color;
						@include sizeRem(font-size, 10px);
					}
				}
			}
			> .block-header{
				padding: 0;
				margin: 0;
				@include sizeRem(padding-top, 10px);
				@include sizeRem(padding-bottom, 10px);
				li{
					list-style-type: none;
					display: inline-block;
					@include sizeRemAll(padding, 5px, 30px, 5px, 30px);
					@include sizeRem(font-size, 16px);
					border-left: 1px solid $border-color;
					a{
						display: block;
						color: $link-color;
						&:hover, &:focus{
							color: darken($link-color, 10%);
						}
					}
					&:first-child{
						border-left: 0 none;
						padding-left: 0;
					}
				}
			}
			> .block-content{
				background-color: $white-color;
				border-top: 1px solid $border-color;
				color: black;
				@include sizeRem(padding-top, 30px);
				@include sizeRem(padding-bottom, 30px);
				position: relative;
				> *{
					@include sizeRem(margin-bottom, 30px);
					> h3{
						border-bottom: 1px solid $border-color;
						@include sizeRem(padding-bottom, 5px);
					}
				}
				table{
					width: 100%;
					border: 1px solid $border-color;
					@include sizeRem(margin-bottom, 15px);
					tr {
						border-bottom: 1px solid $border-color;
    					background-color: $white-color;
					}
					td{
						border-bottom: 0;
						@include sizeRemAll(padding, 12px, 15px, 12px, 15px);
						border-right: 1px solid $border-color;
						color: black;
						@include wp-font(font-body);
						background-color: $white-color;
						&:first-child{
							background-color: $very-light-gray;
						}
					}
				}
			}
		}
		.group-product-comment{
			.rating-inner{
				direction: rtl;
			}
			.rating-stars span{
				&:last-child{
					@include sizeRem(margin-right, 5px);
				}
				&:hover, &:focus, &.selected{
					background-color: #faca51;
					& ~ span{
						background-color: #faca51;
					}
				}
			}
			form{
				width: 100%;
				label{
					@include wp-font(font-body);
				}
				.form-type-title{
					max-width: 100%;
					@include sizeRem(width, 370px);
				}
				.form-item{
					margin-top: 0;
				}
				.descriptions{
					text-align: right;
					@include sizeRem(margin-top, -10px);
				}
				.form-action{
					text-align: right;
				}
			}
			> .block-content{
				@include display-flex;
			}
		}
		
		.pagination {
			display: inline-block;
			@include sizeRem(margin-top, 30px);
			@include sizeRem(margin-bottom, 30px);
			a{
				color: $black-color;
				float: left;
				@include sizeRemAll(padding, 8px, 16px, 8px, 16px);
				text-decoration: none;
				@include transition(background-color .3s ease-in-out);
				&.active {
					background-color: $link-color;
					color: $white-color;
				}
				&:hover:not(.active), &:focus:not(.active) {
					background-color: $border-color;
				}
			}
		}
		

		
		.block-title-sm{
			h2{
				@include sizeRem(font-size, 18px);
				@include sizeRem(padding-bottom, 10px);
				@include sizeRem(margin-bottom, 20px);
				@include wp-font(font-bold);
				text-transform: none;
				border-bottom: 1px solid $border-color;
				padding-right: 0;
			}
			h3{
				@include sizeRem(font-size, 16px);
				@include sizeRem(padding-bottom, 10px);
				@include sizeRem(margin-bottom, 20px);
				@include wp-font(font-medium);
				text-transform: none;
				border-bottom: 1px solid $border-color;
			}
		}
		// Block menu header
		.block-form-search{
			position: relative;
			
			label{
				display: none;
			}
			form{
				width: 100%;
				position: relative;
				@include sizeRem(max-width, 570px);
				&:before{
					content: '';
					@include sizeRem(width, 38px);
					@include sizeRem(height, 38px);
					background-size: 20px auto;
					background-image: url('../images/icons/ico-search.svg');
					background-repeat: no-repeat;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 2;
					display: block;
					background-position: center;
				}
			}
			.btn{
				position: absolute;
				right: 0;
				top: 0;
				@include sizeRem(height, 38px);
				@include sizeRem(width, 38px);
				@include border-radius(0);
				background-color: $link-color;
				border-color: $link-color;
				font-size: 0;
			}
			.form-control{
				@include sizeRem(height, 38px);
				@include sizeRem(padding-top, 8px);
				@include sizeRem(padding-bottom, 8px);
				@include border-radius(0);
				@include box-shadow(initial);
				font-size: 0.929em;
				font-style: italic;
				left: 0;
				padding: 10px 80px 10px 20px;
				top: 0;
				width: 100%;
				border: 1px solid $border-color;
			}
			.form-group{
				margin-bottom: 0;

			}
		}
		// Block Cart
		.block-form-cart{
			.block-header{
				position: relative;
				color: $darkgray4;
			}
			.line-item-quantity-raw{
				position: absolute;
				width: 40px;
				height: 35px;
				left: 0;
				top: -5px;
				@include sizeRem(font-size, 14px);
				color: $link-color;
				@include wp-font(font-bold);
				z-index: 4;
				text-align: center;
				&:before{
					content: '';
					position: absolute;
					left: -5px;
					top: -2px;
					width: 100%;
					height: 100%;
					background-image: url('../images/icons/ico-cart.svg');
					background-repeat: no-repeat;
					background-position: center;
					display: block;
					background-size: contain;
				}
			}
			.line-item-quantity-label{
				cursor: pointer;
				padding-left: 40px;
				position: relative;
				z-index: 5;
			}
			.dropdown-menu{
				border-radius: 3px;
				-webkit-border-radius: 3px;
				@include box-shadow(0 0 6px 0px rgba($black-color, .174));
				background-color: white;
				border: 1px solid gainsboro;
				font-size: 0.929em;
				padding: 15px;
				position: absolute;
				right: 0;
				top: 40px;
				width: 300px;
				z-index: 10;
				left: auto;
				&:before{
					position: absolute;
					content: "";
					border-width: 11px 10px;
					border-style: solid;
					border-color: transparent transparent white transparent;
					right: 17px;
					top: -21px;
					z-index: 4;
				}
				&:after{
					position: absolute;
					content: "";
					border-width: 11px 10px;
					border-style: solid;
					border-color: transparent transparent gainsboro transparent;
					right: 17px;
					top: -22px;
					z-index: 1;
				}
			}
		}
		.block-socials-list {
			span {
				font-size: 0px;
				&::before {
						font-size: 16px;
				}
			}
			ul {
				text-align:center;
				li {
						display: inline-block;
						padding: 0 15px;
				}
			}
			a {
				font-size: 0px !important;
			}
		}
		.block-infomations{
			text-align: center;
		}
		.block-address{
			address{
				@include sizeRem(padding-left, 10px);
				border-left: 1px solid #cccccc;
				@include sizeRem(margin-bottom, 25px);
			}
			.fa{
				font-size: 0;
				&:before{
					@include fontawesome;
					@include sizeRem(margin-right, 5px);
					@include sizeRem(font-size, 12px);
				}
			}
			span{
				@include wp-font(font-medium);
			}
		}
		#block-welcomemessage,
		.block-welcomemessage {
			float: left;
			margin-left: 0;
			p {
				margin-bottom: 0;
			}
			a {
				color: $body-color;
				&:hover, &:focus {
					color: $link-color;
				}
			}
		}
		/* breadcrumb */
		.block-breadrumb {
			@include sizeRem(height, 45px);
			float: left;
			color: $black-color;
			margin-bottom: 0;
			padding: 0;
			border: none;
			@include border-radius(0);
			background: none;
			overflow: hidden;
			word-wrap: break-word;
			ol{
				padding: 0;
			}
			a {
				@include sizeRemAll(padding, 15px, 15px, 15px, 28px);
				line-height: 1.1;
				display: inline-block;
				color: #696969;
				vertical-align: middle;
				&:hover,
				&:focus {
						color: $link-color;
				}
			}

			li {
				position: relative;
				display: inline-block;
				&:first-child {
						&:before,
						&:after {
							display: none;
						}
						a{
							@include sizeRem(padding-left, 20px);
						}
				}
				&:after {
						@include sizeRemAll(border-width, 24px, 0px, 24px, 12px);
						border-style: solid;
						border-color: transparent #ececec;
						position: absolute;
						content: "";
						left: -1px;
						top: -1px;
						z-index: 2;
				}
				&:before {
						@include sizeRemAll(border-width, 24px, 0px, 24px, 12px);
						border-style: solid;
						border-color: transparent #cacaca;
						position: absolute;
						content: "";
						left: 0;
						top: -1px;
						z-index: 1;
				}
			}
		}  
	}
}

// ====================
// Panel List
// ---
.panel-pane{
    margin:{
        @include sizeRem(top, 15px);
        @include sizeRem(bottom, 15px);
    }
	@at-root{
		// Panel a
		// Panel b
		// ...
	}
}



button.close{
	position: absolute;
	right: 5px;
	top: 5px;
}


.ui-autocomplete{
	z-index: 999;
	list-style-type: none;
	background: white;
	width: 570px !important;
	@include box-shadow(0 8px 8px 4px rgba(0,0,0,0.175));
	border: 1px solid $border-color;
	border-top: 0 none;
	padding: 0;
	.ui-menu-item{
		border-bottom: 1px dotted $border-color;
		a{
			display: block;
			padding: 10px;
			background-color: $white-color;
			color: $black-color;
			padding-left: 85px;
			position: relative;
			min-height: 80px;
			cursor: pointer;
			span{
				display: block;
				color: $link-color;
				font-size: 1rem;
				font-family: "Roboto", sans-serif;
				font-weight: 500;		
			}
			&:hover, &:focus{
				background-color: darken($white-color, 10%);
			}
		}
		&:last-child{
			border-bottom: 0 none;
		}
	}
	img{
		display: inline-block;
		margin-right: 15px;
		position: absolute;
		left: 10px;
		top:10px;
		max-width: 60px;
		max-height: 60px;
	}
}

.fb_iframe_widget{
	z-index: 1000;
	position: fixed !important;
	bottom: 0;
	right: 0;
}