// ====================
// Section
// ---
.section{
	@at-root{
		.main{
			.container{
				@include sizeRem(padding-top, 30px);
			}
		}
		.section-first{
			background-color: $very-light-gray;
		}
	}
}

// ====================
// Pages
// ---
.page{
    @at-root{
        .section-breadcrumb {
				background-color: #ececec;
				border-bottom: 1px solid $border-color;
				.container{
					padding:{
						top: 0;
						bottom: 0;
					}
				}
			}

			
    }    
}

// ====================
// Sidebars
// ---
.sidebar {
	.block {
		@include sizeRem(margin-bottom, 30px);
		h2 {
			border-bottom: 1px solid $border-color;
			color: $title-color;
			@include sizeRem(font-size, 18px);
			@include sizeRem(padding-bottom, 10px);
			@include wp-font(font-medium);
		}
	}
	.block-effortlessshopping {
		background: $very-light-gray;
		overflow: hidden;
		@include sizeRem(padding, 20px);
		h2{
			border-bottom: 0;
			padding-bottom: 0;
		}
		ul {
			margin: 0;
			padding: 0;
			li{
				list-style: none;
    			padding: 5px 0;
				@include sizeRem(font-size, 14px);
				*[class*="fa"] {
					border-radius: 50%;
					-webkit-border-radius: 50%;
					border: 1px solid #7a7a7a;
					display: inline-block;
					height: 35px;
					margin-right: 10px;
					padding: 0;
					text-align: center;
					width: 35px;
					span{
						font-size: 0;
					}
					&:before{
						line-height: 32px;
					}
				}
			}
		}
	}
	.form-item-search{
		position: relative;
		&:before{
			content: '';
			@include sizeRem(width, 38px);
			@include sizeRem(height, 38px);
			background-size: 20px auto;
			background-image: url(../images/icons/ico-search.svg);
			background-repeat: no-repeat;
			background-color: $link-color;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			display: block;
			background-position: center;
		}
	}
}

.zoomWindow{
	border: 0 none !important;
}
.node-products{
	padding: 15px 0;
	@include sizeRem(margin-bottom, 30px);
	.label{
		color: $body-color;
		padding: 0;
		@include wp-font(font-body);
		@include sizeRem(margin-right, 20px);
		@include sizeRem(font-size, 16px);
	}
	.zoomWrapper{
		position: relative;
		margin: {
			left: auto;
			right: auto;
		}
		width: 364px !important;
		height: 364px !important;
		text-align: center;
		@include display-flex;
		@include justify-content(center);
		padding: 20px;
		> img{
			// position: static !important;
			max-width: 324px !important;
			// display: block;
			width: auto !important;
			max-height: 324px !important;
			// padding: 30px;
			// margin: 0 auto;
		}
	}
	
	.node-inner{
		@include display-flex;
	}
	.fieldset-left{
		@include flex-width-col-xs(60px);
		border-right: 1px solid $border-color;
		padding-right: 15px;
		@include order(-1);
	}
	.fieldset-middle{
		@include flex-width-col-xs(43%);
	}
	.fieldset-right{
		@include flex-width-col-xs(50%);
	}
	.field-list-img-small{
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		li{
			margin-bottom: 5px;
		}
		a{
			border: 1px solid $border-color;
			padding: 3px;
			display: block;
			&.active{
				border-color: darken($border-color, 20%);
			}
		}
	}
	.rating-stars{
		position: relative;
		display: inline-block;
		span{
			display: inline-block;
			width: 28px;
			height: 28px;
			background-color: #f1f1f1;
			margin-right: 5px;
			@include border-radius(50%);
			text-align: center;
			line-height: 32px;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				content: "\f005";
				@include fontawesome;
				color: $white-color;
				@include sizeRem(font-size, 18px);
			}
		}
	}
	.rating-inner{
		display: block;
		&:last-child{
			position: absolute;
			left: 0;
			top: 0;
			white-space: nowrap;
			overflow: hidden;
			span{
				background-color: #faca51;
			}
		}
	}
	.rating-number{
		display: block;
		margin-top: 5px;
		line-height: 23px;
		font-size: 14px;
		color: #6d6d6d;
		em{
			font-size: 22px;
			font-weight: 300;
			color: #202020;
			font-style: normal;
		}
		    
	}
	.rating-text{
		font-size: 12px;
		color: gray;
	}
	.field-prices{
		@include sizeRem(margin-top, 25px, true);
		@include sizeRem(font-size, 26px);
	}
	.field-link{
		@include sizeRem(margin-top, 30px, true);
		a{
			display: inline-block;
			@include sizeRemAll(padding, 10px, 20px, 10px, 20px);
			background: $link-color;
			color: $white-color;
			@include sizeRem(min-width, 170px);
			text-align: center;
			&:hover, &:focus{
				background-color: darken($link-color, 8%);
			}
		}
	}
	.field-history{
		@include sizeRem(font-size, 16px);
		color: $body-color;
		padding-bottom: 1px solid $border-color;
		padding-bottom: 10px;
		a{
			color: $body-color;
			&:hover, &:focus{
				color: $link-color;
			}
		}
		.fa{
			@include sizeRem(font-size, 16px);
		}
	}
	.field-comment{
		@include sizeRem(margin-top, 25px , true);
		@include sizeRem(padding-top, 15px );
		@include sizeRem(padding-bottom, 15px );
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		.label{
			float:left;
			margin-right: 20px;
			margin-top: 6px;
		}
		.field-items{
			overflow: hidden;
		}
	}
	.field-colors{
		@include display-flex;
		> *{
			@include display-flex(inline-flex);
			@include align-items(center);
		}
		.field-items{	
		}
	}
	.field-colors{
		color: $black-color;
		@include display-flex;
		> *{
			@include display-flex(inline-flex);
			@include align-items(center);
		}
		
		.field-items{
			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
				@include display-flex(inline-flex);
			}
			li{
				display: inline-block;
				font-size: 0;
				@include sizeRem(margin-right, 12px);
				@include sizeRemAll(padding, 2px, 2px, 2px, 2px);
				cursor: pointer;
				@include border-radius(50%);
				span{
					display: block;
					@include sizeRem(width, 20px);
					@include sizeRem(height, 20px);
					@include border-radius(50%);
					@include box-shadow( inset 0 1px 5px 0 rgba($black-color,.4));
    				cursor: pointer;
				}
				.color-black{
					background-color: $black-color;
				}
				&.choosen{
					@include box-shadow(0 0 10px red);
				}
			}	
		}

	}
}

.page-node{
	.group-product-comment{
		@include sizeRem(margin-bottom, 30px);
		> h3{
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 0.3125rem;
		}
	}
}

.node-articles{	
	@include sizeRem(margin-bottom, 30px);
	.field-img{
		@include sizeRem(margin-bottom, 30px);
	}
	.field-title{
		@include sizeRem(margin-bottom, 20px);
		@include sizeRem(font-size, 24px);
		@include wp-font(font-bold);
		color: $black-color;
	}
}

// Page link to shop
.page-link-to-shop{
	background-color: $very-light-gray;
	.page{
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
		height: 100vh;
	}
}

// POP-up Compare Prices
.containerprice{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba($black-color, .5);
	.chart-container{
		width: 800px;
		margin: 0px auto;
		@include box-shadow(0 5px 15px rgba(0,0,0,.5));
		position: relative;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		@include border-radius(6px);
		outline: 0;
		top: 50%;
		@include translateY(-50%);
		height: 400px;
	}
	canvas{
		width: 100% !important;
		height: 100% !important;
	}
}
