// 1200
@media (min-width: $desktop) {}

// 1199
@media (max-width: $desktop - 1) {
    .view .field-list-brand li > *:first-child{
        @include flex-width-col-xs(100%);
    }
    .view .field-img-brand a{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .view-list-type {
        .view-info{
            position: static;
            @include translateY(0);
            padding-left: 0;
            padding-right: 0;
            
        }
        .view-init{
            margin-top: 0;
            @include sizeRem(padding-bottom, 20px);
            .field-brand-prices{
                display: none;
            }
        }
        .field-link{
            @include opacity(1);
        }
        
    }
}

// 992 - 1199
@media (min-width: $tablet-ht) and (max-width: $desktop - 1) {}

// 991
@media (max-width: $tablet-ht - 1) {
    .block-form-account form{
        @include flex-width-col-xs(60%);
    }
    .col-sm-8{
        width: 100%;
    }
    .header .container{
        @include flex-wrap(wrap);
        > *:nth-child(1){
            @include flex-width-col-xs(160px);
        }
        > *:nth-child(2){
            @include flex-width-col-xs(100%);
            @include sizeRem(margin-top, 15px);
        }
    }
    .header-group + *{
        @include sizeRem(padding-top, 160px);
    }
    .block-form-cart{
        display: none !important;
    }
    .block-form-search form{
        max-width: 100%;
    }
    [class*="panel-highlighted-"]{
        width: 100%;
    }
    .view-carousel {
        .view-header{
            display: none;
        }
        .view-content{
            @include flex-width-col-xs(100%);
        }
    }
    .view-product-ads {
        .view-content{
            @include display-flex;
            @include flex-wrap(nowrap);
            @include sizeRem(margin-left, -5px);
            @include sizeRem(margin-right, -5px);
        }
        .views-row{
            @include flex-grow(1);
            @include sizeRem(padding-left, 5px);
            @include sizeRem(padding-right, 5px);
        }
    }
    #page {
        padding-left: 0;
        right: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        position: relative;
        margin-right: 0;
    }
    #page.toggled {
        @include sizeRem(right, 250px);
        .btn-close {
            display: block;
        }
        .navbar-toggle {
            visibility: hidden;
        }
    }
    .btn-close {
        display: none;
        @include border-radius(50%);
        background: url('../images/btn-close.png') no-repeat center center #ccc;
        @include box-shadow(0 12px 27px rgba(0, 0, 0, 0.15));
        cursor: pointer;
        position: absolute;
        @include sizeRem(right, 8px);
        @include sizeRem(top, 15px);
        @include sizeRem(width, 48px);
        @include sizeRem(height, 48px);
        z-index: 999;
    }
   .navbar-toggle {
        border: none;
        display: block;
        padding: 0;
        @include border-radius(0);
        @include sizeRem(margin-top, 65px);
        @include sizeRem(margin-left, 15px);
        float: left;
        .icon-bar {
            background: $link-color;
        }
        &:hover,
        &:focus {
            background: none;
            .icon-bar {
                background: darken($link-color, 8%);
            }
        }
    }
    #page.toggled .mobile-main-menu {
        right: 0;
        display: block;
    }
    .overlay {
        cursor: pointer;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
    }
    .nav {
        .open > a {
            background: none;
            &:hover,
            &:focus {
                background: none;
            }
        }
    }
    .mobile-main-menu {
        background: #fff;
        bottom: 0;
        display: block !important;
        height: 100%;
        overflow-y: auto !important;
        position: fixed;
        @include sizeRem(right, -250px);
        @include sizeRem(width, 250px);
        top: 0;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        .container {
            padding: 0;
            position: static;
            width: auto;
        }
        /* main-menu */
        ul {
            padding: 0;
            margin: 0;
            a {
                display: block;
                color: #000;
                padding-left: 0;
                padding-right: 0;
                @include sizeRem(padding-top, 10px);
                @include sizeRem(padding-bottom, 10px);
                text-decoration: none;
                &:hover,
                &:focus {
                    color: #555;
                }
                &.is-active {
                    color: #555;
                }
            }
            > li {
                border-bottom: 1px solid #ddd;
                display: block;
                float: none;
                list-style: none;
                margin: 0;
                padding: 0;
                &:last-child {
                    border-bottom: none;
                }
                ul {
                    @include sizeRem(padding-left, 20px);
                    @include sizeRem(padding-bottom, 5px);
                    li {
                        border-bottom: 0;
                        a {
                            padding:{
                                left: 0;
                                right: 0;
                                @include sizeRem(top, 7px);
                                @include sizeRem(bottom, 7px);    
                            }
                        }
                    }
                }
            }
            .expanded {
                > a {
                    position: relative;
                    &:before {
                        // @include nucleo_glyph;
                        // content: '\ea91';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        @include sizeRem(width, 20px);
                        @include sizeRem(height, 20px);
                        @include sizeRem(margin-top, -10px);
                        line-height: 1.3;
                        text-align: right;
                    }
                }
            }
        }
    }
    // end Mobile-menu
}

// 768 - 991
@media (min-width: $tablet-vt) and (max-width: $tablet-ht - 1) {}

// 767
@media (max-width: $tablet-vt - 1) {
    .block-form-account {
        > .block-content{
            @include flex-wrap(wrap);
        }
        form{
            padding-right: 0;
            margin-right: 0;
            border-right: 0 none;
            border-bottom: 1px solid $border-color;
            @include sizeRem(margin-bottom, 30px);
            @include sizeRem(padding-bottom, 10px);
            @include flex-width-col-xs(100%);
            &:before{
                left: 50%;
                top: auto;
                bottom: 0;
                @include sizeRem(margin-bottom, -13px);
                right: auto;
                margin-top: 0;
            }
        }
    }
    .block-login-socials{
        text-align: center;
        @include flex-width-col-xs(100%);
    }

    .header-group{
        position: static;
        & + *{
            padding-top: 0;
        }
    }
    .footer-first{
        [class*="col-sm-"]{
            @include sizeRem(margin-bottom, 20px);
            @include sizeRem(padding-bottom, 20px);
            border-bottom: 1px solid rgba($white-color, .1);
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }
    .view-grid-type {
        .fieldset-left{
            @include sizeRem(padding-right, 10px);
        }
        .field-img{
            width: 100%;
            height: auto;
        }
        .field-prices{
            @include sizeRem(font-size, 20px);
        }
        .field-prices{
            @include flex-width-col-xs(18%);
        }
        .view-inner{
            @include flex-width-col-xs(57%);
        }
    }
    .node-products .rating-stars span{
        @include sizeRem(width, 20px);
        @include sizeRem(height, 20px);
        @include sizeRem(line-height, 20px);
        &:before{
            @include sizeRem(font-size, 14px);
        }
    }
    .block-comment-description{
        display: none;
    }
    .block-navbartabs .group-product-comment-list{
        width: 100%;
    }
    .block-form-reset.block-form-account form{
        margin-bottom: 0;
        border-bottom: 0 none;
        padding-bottom: 0;
    }
}

// 640
@media (max-width: $mobile) {
    .view-grid-4-cols .views-row{
        @include flex-width-col-xs(33.3333%);
    }
    .block-navbartabs > .block-header li{
        @include sizeRem(padding-left, 15px);
        @include sizeRem(padding-right, 15px);
    }
    .view-articles-list .views-row > *{
        @include sizeRem(padding-left, 40px);
        @include sizeRem(padding-right, 40px);
    }
}
@media (max-width: 520px){
    .node-products {
        .node-inner{
            @include flex-wrap(wrap);
        }
        .fieldset-middle{
            @include flex-width-col-xs(70%);
        }
        .fieldset-right{
            @include flex-width-col-xs(100%);
            @include sizeRem(margin-top, 25px);
        }
    }
    .view-grid-type {
        .field-img{
            text-align: center;
        }
        .field-prices{
            text-align: left;
        }
        .field-sites{
            text-overflow: inherit;
            white-space: normal;
        }
        .views-row-inner{
            @include flex-wrap(wrap);
            > *{
                @include flex-width-col-xs(100%);
                padding: 0;
                @include sizeRem(margin-bottom, 10px);
            }
        }
        .field-link{
            margin: 0 !important;
        }
    }
}
// 480
@media (max-width: $mobile-md) {
    h2, .h2{
        @include sizeRem(font-size, 18px);
    }
    h3, .h3{
        @include sizeRem(font-size, 16px);
    }
    h4, .h4{
        @include sizeRem(font-size, 14px);
    }
    h5, .h5{
        @include sizeRem(font-size, 14px);
    }
    h6, .h6{
        @include sizeRem(font-size, 14px);
    }
    #block-welcomemessage, .block-welcomemessage{
        display: none;
    }
    .headline .block{
        float: none;
        margin-left: 0;
    }
    .block-account ul.menu{
        text-align: center;
    }
    .view-grid-4-cols .views-row{
        @include flex-width-col-xs(50%);
    }
    .block-404 h1{
        @include sizeRem(font-size, 80px);
    }
    .form-contact-us{
        padding-left: 0;
        label{
            position: static;
        }
    }
    .block-form-account {
        form{
            padding-left: 0;
            label{
                position: static;
                text-align: left;
                min-width: inherit;
            }
        }
    }
    .block-form-reset .descriptions{
        margin-left: 0;
    }
}
@media (max-width: 400px){
    .view-articles-list .views-row > *{
        @include sizeRem(padding-left, 20px);
        @include sizeRem(padding-right, 20px);
    }
    .view-articles-list .field ~ .field-title{
        @include sizeRem(margin-top, 15px);
    }
    .view-articles-list .views-row + .views-row{
        @include sizeRem(margin-top, 25px);
        @include sizeRem(padding-top, 25px);
    }
    .view-articles-list .field-title{
        @include sizeRem(font-size, 18px);
    }
    .view-articles-list .field ~ .field-body{
        @include sizeRem(margin-top, 10px);
    }
}
// 360
@media (max-width: $mobile-sm) {
    .view-grid-4-cols .views-row{
        @include flex-width-col-xs(100%);
    }
    .view-list-type .view-inner{
        text-align: center;
    }
    .group-product-comment-list .media-heading label{
        display: block;
        margin-top: 5px;
        margin-left: 0;
    }
}

// 320
@media (max-width: $mobile-xs) {}