// ====================
// View list
// ---
.block-view{
	> h2{
		border-bottom: 1px solid $border-color;
		@include sizeRem(padding-bottom, 5px);
		@include sizeRem(margin-bottom, 15px);
		@include sizeRem(padding-right, 70px);
	}
}
.view{
	.field{
		& ~ .field{
			@include sizeRem(margin-top, 10px);	
		}
	}
	.field-prices{
		color: $link-color;
		@include sizeRem(font-size, 16px);
			@include wp-font(font-medium);
	}
	.field-prices-old{
		display: inline-block;
		@include sizeRem(margin-right, 5px);
		text-decoration: line-through;
	}
	.field-discount{
		display: inline-block;
	}
	.field-brand-prices{
		color: $black-color;
	}
	.field-list-brand{
		ul{
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
		}
		li{
			@include display-flex;
			@include flex-wrap(nowrap);
			@include align-items(center);
			@include sizeRem(margin-top, 10px);
			& + li{
				
			}
			> *{
				&:first-child{
					@include flex-width-col-xs(40%);
					@include sizeRem(padding-right, 10px);
				}
				&:last-child{
					margin-top: 0;
					text-align: right;
					/* float: right; */
					@include flex-width-col-xs(60%);
				}
			}
		}
	}
	.field-title{
		color: $black-color;
			a{
				color: $black-color;
				&:hover, &:focus{
					color: $link-color;
				}
			}
	}
	.field-img-brand{
		a{
			display: block;
			width: 60px;
			height: 35px;
			overflow: hidden;
			// background: $link-color;
			padding: 2px;
			border: 1px solid $border-color;
		}
	}
	
	.view-footer{
		text-align: center;
	}

	@at-root{
		.view-articles-list{
			@extend .container;
			padding-left: 0;
			padding-right: 0;
			@media (min-width: 1200px){
				width: 960px;
			}
			.field {
				& ~ .field-title{
					@include sizeRem(margin-top, 30px);
				}
				& ~ .field-body{
					@include sizeRem(margin-top, 20px);
				}
			}
			$font-size: 16px;
			$line-height: 1.5;
			$lines-to-show: 4;
			.field-body{
				height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				display: -webkit-box;
			}
			.views-row{
				> *{
					@include sizeRem(padding-left, 120px);
					@include sizeRem(padding-right, 120px);
				}
				> .field-img{
					padding-left: 0;
					padding-right: 0;
				}
				& + .views-row{
					@include sizeRem(margin-top, 40px);
					@include sizeRem(padding-top, 40px);
					border-top: 1px solid $border-color;
				}
			}
			.fieldset-header{
				@include sizeRem(margin-bottom, 20px);
				@include display-flex;
				@include align-items(center);
				> .field{
					margin-top: 0 !important; 
					@include sizeRem(margin-right, 15px);
				}
			}
			.fieldset-footer{
				@include display-flex;
				@include align-items(center);
				@include sizeRem(margin-top, 30px);
				> .field{
					margin-top: 0 !important; 
					@include sizeRem(margin-right, 15px);
				}
				.fa{
					@include sizeRem(margin-right, 5px);
					color: $link-color
				}
			}
			.field-title{
				@include sizeRem(font-size, 24px);
				@include wp-font(font-bold);
			}
			.field-usr{
				@include sizeRem(font-size, 18px);
				a{
					color: $black-color;
					&:hover, &:focus{
						color: $link-color;
					}
				}
			}
			.field-avatar{
				a{
					display: block;
					@include sizeRem(width, 48px);
					@include sizeRem(height, 48px);
					@include border-radius(50%);
					overflow: hidden;
					@include sizeRem(margin-right, 10px);
					@include box-shadow(0 0 3px #555);	
				}
			}
		}
		.view-grid-type{
			.label{
				padding: 0;
				margin: 0;
				@include sizeRem(margin-right, 5px);
				color: $body-color;
				@include sizeRem(font-size, 14px);
				@include wp-font(font-body);
			}
			.views-row{
				& + .views-row{
					@include sizeRem(padding-top, 25px);
					border-top: 1px solid $border-color;
					@include sizeRem(margin-top, 25px);
				}
				&:last-child{
					margin-bottom: 20px;
				}
			}
			.views-row-inner{
				@include display-flex;
				// @include align-items(center);
				@include sizeRem(padding, 5px);
				padding-right: 0;
				padding-left: 0;
				> *{
					@include sizeRem(padding-left, 5px);
					@include sizeRem(padding-right, 5px);
				}
				
			}
			.fieldset-left{
				@include flex-width-col-xs(15%);
				@include sizeRem(padding-right, 25px);
				padding-left: 0;
				// @include align-self(center);
			}
			.field-comment{
				.label{
					float:left;
					margin-right: 10px;
					margin-top: 3px;
				}
				.field-items{
					overflow: hidden;
				}
			}
			.rating-stars{
				position: relative;
				display: inline-block;
				span{
					display: inline-block;
					width: 16px;
					height: 16px;
					background-color: #f1f1f1;
					margin-right: 5px;
					@include border-radius(50%);
					text-align: center;
					line-height: 13px;
					&:last-child{
						margin-right: 0;
					}
					&:before{
						content: "\f005";
						@include fontawesome;
						color: $white-color;
						@include sizeRem(font-size, 10px);
					}
				}
			}
			.rating-inner{
				display: block;
				&:last-child{
					position: absolute;
					left: 0;
					top: 0;
					white-space: nowrap;
					overflow: hidden;
					span{
						background-color: #faca51;
					}
				}
			}
			.field-img{
				display: block;
				width: 105px;
				height: 65px;
				/* background: red; */
				border: 1px solid $border-color;
				padding: 5px;
			}
			.view-inner{
				@include flex-width-col-xs(50%);
			}
			.field-sites{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				a{
					color: $body-color;
					&:hover, &:focus{
						color: $link-color;
					}
				}
			}
			.field-title{
				@include sizeRem(font-size, 16px);
			}
			.field-stores{
				> *{
					display: inline-block;
				}
			}
			.field-prices{
				@include flex-width-col-xs(25%);
				@include align-self(center);
				text-align: center;
				@include sizeRem(font-size, 26px);
				p{
					@include sizeRem(font-size, 13px);
					color: $body-color;
					@include wp-font(font-body);
					margin-bottom: 0;
				}
			}
			.field-link{
				@include flex-width-col-xs(10%);
				@include display-flex;
				color: $white-color;
				padding-right: 0;
				@include sizeRem(margin-top, -5px, true);
				@include sizeRem(margin-bottom, -5px, true);
				a{
					@include display-flex;
					@include flex(1);
					@include justify-content(center);
					@include align-items(center);
					@include sizeRem(padding, 15px);
					color: $white-color;
					text-align: left;
					background-color: $link-color;
					@include wp-font(font-bold);
					@include sizeRem(font-size, 16px);
					line-height: 1.2;
					text-transform: uppercase;
					&:hover, &:focus{
						background-color: darken($link-color, 8%);
						color: $white-color;
					}
				}
			}
		}
		
		// View Slideshow
		.view-slideshow{
			@include sizeRem(margin-bottom, 15px);
			.owl-nav{
				display: none;
			}
			.owl-dots{
				display: inline-block;
			}
			.owl-controls{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				@include sizeRemAll(padding, 25px, 25px, 25px, 25px);
			}
			.owl-dot{
				@include border-radius(50%);
				@include box-shadow(0 0 0 2px transparent);
				@include transition(box-shadow 0.3s ease);
				position: relative;
				display: block;
				float: left;
				@include sizeRemAll(margin, 0px, 3px, 0px, 3px);
				@include sizeRem(width, 12px);
				@include sizeRem(height, 12px);
				cursor: pointer;
				span{
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					outline: none;
					@include border-radius(50%);
					text-indent: -999em;
					cursor: pointer;
					position: absolute;
					background-color: rgba($link-color , 0.7);
					-webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
					transition: background-color 0.3s ease, transform 0.3s ease;
				}
				&.active{
					@include box-shadow(0 0 0 2px $link-color);
					span{
						@include scale(.4);
						 background-color: $link-color;
					}
				}
			}
		}
		// View Brand
		.brands-list, .view-product-ads{
			.views-row{
				@include sizeRem(margin-bottom, 15px);
			}
			.field-img{
				a{
					display: block;
					&:hover, &:focus{
						img{
							border-color: $gray1;
						}
					}
				}
			}
			img{
				display: block;
    			border: 1px solid $border-color;
			}
		}
		.brands-list{
			.view-content{
				@include sizeRem(margin-left, -5px);
				@include sizeRem(margin-right, -5px);
			}
			.views-row{
				@include sizeRem(padding-left, 5px);
				@include sizeRem(padding-right, 5px);
			}
		}
		
		// View Product
		.view-products {
			position: relative;
			.owl-controls{
				position: absolute;
				right: 0;
				@include sizeRem(top, -45px);
				.owl-nav{
					> *{
						@include sizeRem(margin-left, 5px);
						@include sizeRem(width, 30px);
						@include sizeRem(height, 30px);
						font-size: 0;
						background: $border-color;
						/* margin: auto; */
						overflow: hidden;
						position: relative;

						@include display-flex(inline-flex);
						@include justify-content(center);
						@include align-items(center);
						&:hover, &:focus{
							background-color: $link-color;
							&:before{
								border-color: $white-color;
							}
						}
						&:before{
							content:'';
							border-top: 2px solid $body-color;
							border-left: 2px solid $body-color;
							@include sizeRem(width, 10px);
							@include sizeRem(height, 10px);
							@include sizeRem(margin-left, 5px);
							display: inline-block;
							@include rotate(-45deg);
						}
						&.owl-next{
							@include rotate(180deg);
						}
					}
				}
			}
			.views-row{
				border: 1px solid transparent;
				@include sizeRemAll(padding, 15px, 15px, 20px, 15px);
				&:hover, &:focus{
					border-color: $border-color;
				}
			}
			.owl-carousel .owl-item img{
				display: block;
				width: auto;
				height: 180px;
				margin: 0 auto;
			}
			$font-size: 14px;
			$line-height: 1.4;
			$lines-to-show: 2;
			.field-title{
				display: block; /* Fallback for non-webkit */
				display: -webkit-box;
				max-width: 180px;
				height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.sidebar &{
				.views-row {
					@include sizeRem(margin-bottom, 20px);
					padding: 0;
					@include sizeRem(padding-left, 95px);
					position: relative;
				}
				.field-title{
					margin-top: 0;
					min-height: inherit;
				}
				.field-img {
					@include sizeRem(width, 80px);
					position: absolute;
					left: 0;
					top: 0;
				}
				
			}
			&.recently-view-items{
				.owl-carousel .owl-item img{
					display: block;
					width: auto;
					height: auto;
					margin: 0 auto;
				}
			}
			@at-root{
				.view-list-type{
					.views-row{
						position: relative;
						min-height: 328px;
    					overflow: hidden;
						margin-bottom: 0;	
					}
					.view-info{
						position: absolute;
						top: 0;
						background: white;
						left: 0;
						right: 0;
						padding: 15px 15px 20px 15px;
						transform: translateY(185px);
						@include transition(transform .3s ease-in-out);
					}
					.field-prices-old, .field-discount{
						@include opacity(1);
						visibility: visible;
						@include transition(all .3s ease-in-out);
					}
					
					.view-init{
						position: relative;
						@include sizeRem(padding-bottom, 37px);
						margin-top: 100px;
						@include transition(margin-top .3s ease-in-out);
						> .field{
							@include sizeRem(padding-top, 7px);
							@include sizeRem(margin-top, 7px);
							border-top: 1px solid $border-color;
							&:last-child{
								border-top: 0 none;
								padding-top: 0;
								margin-top: 0;
							}
						}
					}
					.field-link{
						position: absolute;
						left: 0px;
						bottom: 0px;
						right:0px;
						@include opacity(0);
						@include transition(initial);
						a{
							display: block;
							@include sizeRem(min-height, 38px);
							@include sizeRemAll(padding, 9px, 20px, 9px, 20px);
							background: $link-color;
							color: $white-color;
							text-align: center;
							&:hover, &:focus{
								background-color: darken($link-color, 8%);
							}
						}
					}
					@media (min-width: $desktop){
						.views-row{
							&:hover, &:focus{
								.view-info{
									@include translateY(0);
								}
								.view-init{
									margin-top: 0;
								}
								.field-prices-old, .field-discount{
									@include opacity(0);
									visibility: hidden;
									display: none;
								}
								.field-link{
									@include opacity(1);
									@include transition(opacity .5s ease-in-out .3s);
								}
							}
						}
					}
				}
				.products-recommend{
					.views-row{
						background-color: white;
						border: 1px solid white;
						@include sizeRem(margin-bottom, 30px);
					}
				}
				.view-carousel{
					@include display-flex;
					@include sizeRem(margin-bottom, 30px);
					&.order{
						.view-content{
							@include order(-1);
							padding-left: 0;
							@include sizeRem(padding-right, 1px);
							
						}
					}
					.view-header{
						@include flex-width-col-xs(25%);
					}

					.view-content{
						@include flex-width-col-xs(75%);
						@include sizeRem(padding-left, 1px);
						position: static;
						@include display-flex;
					}
					.owl-stage-outer, .owl-stage, .owl-item{
						@include display-flex;
					}
				}
				.recently-view-items{
					.views-row{
						border-color: rgba($border-color, .5);
						padding: 0;
						@include sizeRem(margin-bottom, 10px);
						
					}
				}
			}
		}

		// view-carousel
		
	}
}

// Form
.form-contact-us{
	@include sizeRem(padding-left, 155px);
	.form-item{
		position: relative;
	}
	label{
		position: absolute;
		display: inline-block;
		max-width: 155px;
		padding-right: 10px;
		left: -155px;
		top: 4px;
	}
	span.required{
		color: red;
	}
	.form-item, .form-actions{
		margin-top: 0;
		@include sizeRem(margin-bottom, 14px);
	}
	textarea{
		@include sizeRem(max-height, 150px);
	}
}